<div class="container-fluid">
    <div class="row min-vh-100 d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Forgot Password</h4>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" name="email" [(ngModel)]="email">
                        </div>
                        <button type="button" class="btn btn-info" (click)="forgotPassword()">Send Link</button>
                        <div class="row mt-2">
                            <div class="col-12 text-center">
                                <a href="/login" style="text-decoration: none;">Back to <span class="text-danger">Login</span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
